= render 'location_error'
= render 'shared/navbar'
:javascript
  checkLocationError(#{@location_error.to_json.html_safe})
- unless @location_error[:error]
  :javascript
    initialCenter = #{[@result_lat, @result_lng]}
    markerData = #{@markers.to_json.html_safe}
    bounds = #{@bounds}


.row
  .col-xs-8
    .panel.panel-default
      .panel-heading
        - if @markers!=nil && @markers.count>1
          = "Search results for '#{@query}'. Select a marker to see the description."
        - else
          = "No results found for '#{@query}'. Please try again."
        #map-reset.pull-right
          Reset Map
      .panel-body.panel-map
        #map
  .col-xs-4
    = render 'shared/sidebar'

- unless @location_error[:error]
  :javascript
    map = L.map('map').setView(initialCenter, 15)
    loadMarkers()
