.col-xs-4
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse', href: '#collapseOne'}
            %span.glyphicon.glyphicon-folder-close>
            Nearby Transactions
            ="(#{@markers.count} found)" if @markers
      #collapseOne.panel-collapse.collapse
        .panel-body
          %table.table
            -@markers&.each_with_index do |marker, index|
              %tr
                %td{:tabindex => "#{index}", :id => "#{marker[:id]}",
                    :onclick => "map.panTo(#{marker[:latlng]})"}
                  %p= marker[:popup].html_safe
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse',  href: '#collapseTwo'}
            %span.glyphicon.glyphicon-th>
            Filers
      #collapseTwo.panel-collapse.collapse
        .panel-body
          %table.table
            -@filers&.each_with_index do |(filer_id, filer), index|
              %tr
                %td{:tabindex => "#{index}"}
                  %p= filer[:filer_name]