.panel-group
  .panel
    = form_tag("/search", method: "get") do
      .input-group
        = text_field_tag( :query, nil, placeholder: "Enter your address or zip",
                          class: 'form-control', 'aria-label' => 'Search' )
        %span.input-group-btn
          = button_to('Search', nil, class: 'btn btn-default')
#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse', href: '#collapseOne'}
          %span.fas.fa-money-bill-alt
          Nearby Transactions
      %span
        = page_entries_info(@markers, { model: 'Transactions' })
        -# Line below appears inside <div> with class "pagination"
        = will_paginate @markers, page_links: false
    #collapseOne.panel-collapse.collapse
      .panel-body
        %table.table
          -@markers&.each_with_index do |marker, index|
            %tr
              %td{:tabindex => "#{index}", :id => "#{marker[:id]}",
                  :onclick => "map.panTo(#{marker[:latlng]})"}
                %p= marker[:popup].html_safe
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse',  href: '#collapseThree'}
          %span.fas.fa-exclamation-circle
          Fast Facts
    #collapseThree.panel-collapse.collapse
      .panel-body
        %table.table
          -if @expenses.any?
            %tr
              %td
                number of expenses:
                =@expenses.count
              %td
                sum of expenses: $
                =@sum_of_expenses
            %tr
              %td
                largest expense amount: $
                = @largest_expense_amount[0][0].expense_amount
              %td
                filer:
                =link_to @largest_expense_filer[0].id, filer_path(@largest_expense_filer[0].id)
          -if @contributions.any?
            %tr
              %td
                number of contributions:
                =@contributions.count
              %td
                sum of contributions: $
                =@sum_of_contributions
            %tr
              %td
                largest contribution amount: $
                = @largest_contribution_amount[0][0].contribution_amount
              %td
                filer:
                =link_to @largest_contribution_filer[0].id, filer_path(@largest_contribution_filer[0].id)
          -if @debts.any?
            %tr
              %td
                number of debts:
                =@debts.count
              %td
                sum of debts: $
                =@sum_of_debts
            %tr
              %td
                largest debt amount: $
                = @largest_debt_amount[0][0].debt_amount
              %td
                filer:
                =link_to @largest_debt_filer[0].id, filer_path(@largest_debt_filer[0].id)
          -if @receipts.any?
            %tr
              %td
                number of receipts:
                =@receipts.count
              %td
                sum of receipts: $
                =@sum_of_receipts
            %tr
              %td
                largest receipt amount: $
                = @largest_receipt_amount[0][0].receipt_amount
              %td
                filer:
                =link_to @largest_receipt_filer[0].id, filer_path(@largest_receipt_filer[0].id)


          -# %tr
          -#   %td
          -#     total activity: $X

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{'data-parent' => '#accordion', 'data-toggle' => 'collapse',  href: '#collapseTwo'}
          %span.fas.fa-users
          Filers
    #collapseTwo.panel-collapse.collapse
      .panel-body
        %table.table
          -@filers&.each_with_index do |filer, index|
            %tr
              %td{ tabindex: "#{index}" }
                %p= filer.filer_name
                = link_to 'View filer profile', filer_path(filer.id)
