= render 'shared/navbar'
:javascript
  initalCenter = #{@initial_center}
  markerData = #{@filer_markers.to_json.html_safe}
  bounds = #{@bounds}

.row
  .col-xs-8
    .panel.panel-default
      .panel-heading
        Select a marker to see the description
      .panel-body.panel-map
        #map
  .col-xs-4
    = render 'shared/sidebar'

:javascript
  map = L.map('map').setView(initalCenter, 15)
  loadMarkers()