= render 'shared/navbar'
:javascript
  initialCenter = #{@initial_center}
  markerData = #{@filer_markers.to_json.html_safe}
  bounds = #{@bounds}

.row
  .col-xs-8
    .panel.panel-default
      - if @filer_markers!=nil && @filer_markers.count>1
        .panel-heading
          = "Search results for '#{@query}'. Select a marker to see the description."
        .panel-body.panel-map
          #map
      - else
        .panel-heading
          = "No results found for '#{@query}'. Please try again."
  .col-xs-4
    = render 'shared/sidebar'

:javascript
  map = L.map('map').setView(initialCenter, 15)
  loadMarkers()