!!!
%html
  %head
    %title
      Cashflow PA
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = stylesheet_link_tag 'https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css'
    = javascript_include_tag 'https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'

    = csrf_meta_tags

  %body
    = yield
